<div class="d-flex justify-content-center flex-wrap my-3 contact-links">
    <div class="m-2"><a href="mailto:mail@sp-codes.de">
        <span class="d-none d-md-inline-block i-envelope i-4x"></span>
        <span class="d-inline-block d-md-none i-envelope i-2x"></span>
    </a></div>
    <div class="m-2"><a href="https://matrix.to/#/@samuel-p:matrix.sp-codes.de">
        <span class="d-none d-md-inline-block i-matrix i-4x"></span>
        <span class="d-inline-block d-md-none i-matrix i-2x"></span>
    </a></div>
    <div class="m-2"><a rel="me" href="https://social.sp-codes.de/@samuel_p">
        <span class="d-none d-md-inline-block i-mastodon i-4x"></span>
        <span class="d-inline-block d-md-none i-mastodon i-2x"></span>
    </a></div>
    <div class="m-2"><a href="https://stackoverflow.com/users/9662601/samuel-p">
        <span class="d-none d-md-inline-block i-stackoverflow i-4x"></span>
        <span class="d-inline-block d-md-none i-stackoverflow i-2x"></span>
    </a></div>
    <div class="m-2"><a href="https://git.sp-codes.de/samuel-p">
        <span class="d-none d-md-inline-block i-gitea i-4x"></span>
        <span class="d-inline-block d-md-none i-gitea i-2x"></span>
    </a></div>
    <div class="m-2"><a href="https://github.com/samuel-p">
        <span class="d-none d-md-inline-block i-github i-4x"></span>
        <span class="d-inline-block d-md-none i-github i-2x"></span>
    </a></div>
</div>
<div class="d-flex justify-content-center mb-3">
    <div class="lead text-center">
        <a href="https://samuel-philipp.de">samuel-philipp.de</a>
    </div>
</div>
