<div class="d-flex justify-content-center flex-wrap my-3 contact-links">
    <div class="m-2"><a href="mailto:mail@sp-codes.de">
        <span class="d-none d-md-block si si-envelope si-4x"></span>
        <span class="d-block d-md-none si si-envelope si-2x"></span>
    </a></div>
    <div class="m-2"><a href="https://matrix.to/#/@samuel-p:matrix.sp-codes.de">
        <span class="d-none d-md-block si si-matrix si-4x"></span>
        <span class="d-block d-md-none si si-matrix si-2x"></span>
    </a></div>
    <div class="m-2"><a rel="me" href="https://social.sp-codes.de/@samuel_p">
        <span class="d-none d-md-block si si-mastodon si-4x"></span>
        <span class="d-block d-md-none si si-mastodon si-2x"></span>
    </a></div>
    <div class="m-2"><a href="https://stackoverflow.com/users/9662601/samuel-p">
        <span class="d-none d-md-block si si-stackoverflow si-4x"></span>
        <span class="d-block d-md-none si si-stackoverflow si-2x"></span>
    </a></div>
    <div class="m-2"><a href="https://git.sp-codes.de/samuel-p">
        <span class="d-none d-md-block si si-gitea si-4x"></span>
        <span class="d-block d-md-none si si-gitea si-2x"></span>
    </a></div>
    <div class="m-2"><a href="https://github.com/samuel-p">
        <span class="d-none d-md-block si si-github si-4x"></span>
        <span class="d-block d-md-none si si-github si-2x"></span>
    </a></div>
</div>
<div class="d-flex justify-content-center mb-3">
    <div class="lead text-center">
        <a href="https://samuel-philipp.de">samuel-philipp.de</a>
    </div>
</div>
