<div class="d-flex justify-content-center flex-wrap my-3 contact-links">
    <div class="m-2"><a href="mailto:mail@sp-codes.de"><span
            class="fas fa-fw fa-4x fa-envelope"></span></a></div>
    <div class="m-2"><a href="https://matrix.to/#/@samuel-p:matrix.sp-codes.de">
        <img class="matrix-icon" src="../img/matrix.png" alt=""></a></div>
    <div class="m-2"><a rel="me" href="https://social.tchncs.de/@samuel_p"><span
            class="fab fa-fw fa-4x fa-mastodon"></span></a></div>
    <div class="m-2"><a href="https://stackoverflow.com/users/9662601/samuel-p"><span
            class="fab fa-fw fa-4x fa-stack-overflow"></span></a></div>
    <div class="m-2"><a href="https://gitlab.com/samuel-p"><span
            class="fab fa-fw fa-4x fa-gitlab"></span></a></div>
    <div class="m-2"><a href="https://github.com/samuel-p"><span
            class="fab fa-fw fa-4x fa-github"></span></a></div>
    <div class="m-2"><a href="https://hub.docker.com/u/samuelph"><span
            class="fab fa-fw fa-4x fa-docker"></span></a></div>
</div>

<div class="d-flex justify-content-center mb-3">
    <div class="lead text-center">
        <a href="https://samuel-philipp.de">samuel-philipp.de</a>
    </div>
</div>
