{%- for service in services %}
<div class="col-12 col-md-6 p-3">
    <div class="card service flat">
        <a class="link" href="/{{locale}}/services{% if service.beta != true %}/{{service.id}}{% endif %}"></a>
        <div class="inner" href="/{{locale}}/services{% if service.beta != true %}/{{service.id}}{% endif %}">
            {% if service.beta == true %}
            <div class="beta">TEST-PHASE</div>
            {% endif %}
            <i class="{{service.icon}} i-2x"></i>
            <h2 class="mt-2">{{service.name}}{% if service.url %} <a href="{{service.url}}" target="_blank"><i
                    class="i-external-link"></i></a>{% endif %}</h2>
        </div>
    </div>
</div>
{%- endfor %}
