---
layout: base.njk
key: donate
title: Unterstützen
eleventyNavigation:
  key: donate
  title: Unterstützen
  icon: si si-hand-holding-heart
  order: 4
---
<h1><i class="si si-hand-holding-heart"></i> Unterstützen</h1>

<p>Alle öffentlichen Dienste sind kostenfrei nutzbar. Wenn du dich trotzdem an den Unkosten für Server-Infrastruktur
    beteiligen oder mir eine kleine Anerkennung für meinen Blog zukommen lassen willst, kannst du mich über die
    folgenden Wege unterstützen<sup>1</sup>:</p>

<div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card mb-3">
            <h2><i class="si si-comments fa-fw m-2"></i>Empfehlen</h2>
            <div>Gerne darfst du meine Dienste und meine Blog-Beiträge weiter empfehlen. Ich freue mich sehr, wenn ich
                euch damit eine Freude machen kann.
            </div>
        </div>
        <div class="card mb-3">
            <h2><i class="fas fa-credit-card fa-fw m-2"></i>Banküberweisung</h2>
            <div>Wenn Du mir etwas überweisen willst, schreib mir einfach eine kurze <a href="/{{locale}}/contact">Nachricht</a>.
                Ich schicke dir dann schnellstmöglich meine Bankverbindung zu. Ganz besonders freue ich mich auch über
                einen Dauerauftrag.
                <div class="mt-3 text-center">
                    <img alt="Banküberweisung {{ strings.supporters[locale] }}"
                         src="https://shields.sp-codes.de/badge/{{ strings.supporters[locale] }}-{{ donations | banktransfers }}-active">
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <h2><i class="fas fa-money-bill fa-fw m-2"></i>Bargeld</h2>
            <div>Wer mir etwas Bargeld zukommen lassen möchte, darf das gerne an die Adresse aus dem <a
                    href="/{{locale}}/imprint">Impressum</a> senden.
                <div class="mt-3 text-center">
                    <img alt="Bargeld {{ strings.supporters[locale] }}"
                         src="https://shields.sp-codes.de/badge/{{ strings.supporters[locale] }}-{{ donations | cash }}-inactive">
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <h2><i class="si si-opencollective m-2"></i>Open Collective</h2>
            <div>Gerne kannst du mir auch über <a href="https://opencollective.com/sp-codes" target="_blank">Open
                Collective</a> einen kleinen Betrag zukommen lassen. Wenn du willst, kannst du mich dort auch mit einer
                regelmäßigen Spende unterstützen.
                <div class="mt-3 text-center">
                    <a href="https://opencollective.com/sp-codes" target="_blank"><img
                            alt="Open Collective {{ strings.supporters[locale] }}"
                            src="https://shields.sp-codes.de/opencollective/all/sp-codes?label={{ strings.supporters[locale] }}&logo=open-collective"></a>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <h2><i class="fas fa-network-wired fa-fw m-2"></i>netcup</h2>
            <div>Einige meiner Dienste hoste ich bei <a href="https://www.netcup.de/" target="_blank">netcup</a>. Wenn
                du einen eigenen Server oder eine Webseite bei netcup betreiben willst, kannst du gerne den folgenden
                Link (auf dem Bild) nutzen. Dadurch erhalte ich bei deiner Bestellung eine kleine Provision. Falls du
                ein Neukunde bist, erhältst du einen 5 € Gutschein für deine Bestellung.
            </div>
            <div class="mt-3 text-center">
                <a href="https://www.netcup.de/bestellen/gutschein_einloesen.php?gutschein=36nc16071208640"
                   target="_blank">
                    <img src="/img/netcup-setC-234x60.png" width="234" height="60" alt="zu netcup"/>
                </a>
            </div>
        </div>
    </div>
</div>

<h2>Aktuelle Ausgaben</h2>
{% include "expenses-current.html" %}

<h2>Spenden {{donations[0].year}}</h2>
{% include "donations-current.html" %}

<p><a href="/{{locale}}/all-donations/">&#10132; Alle Spenden</a></p>

<div class="border-top mt-5 pt-2">
    <p><small><sup>1</sup> Bei den geleisteten Zahlungen handelt sich um Schenkungen im Sinne von § 516 BGB,
        nicht um steuerlich absetzbare Spenden im Sinne des Steuerrechts.</small></p>
</div>
