---
layout: home.njk
key: home
title: Home
eleventyNavigation:
  key: home
  title: Home
  icon: i-home
---
<div class="row justify-content-center py-4 border-top">
    <div class="col-lg-8 col-md-10 col-12">
        <h1 class="heading">Willkommen bei sp&#8209;codes!</h1>
        <p class="lead text-center mb-2">
            Schön, dass du hergefunden hast. Mein Name ist Samuel Philipp und ich bin ein Software Engineer aus
            Magdeburg. Auf dieser Seite findest du Informationen über mich und eine Übersicht über die von mir
            bereitgestellten Dienste. Schau dich gerne um, lies meinen <a href="https://samuels-blog.de">Blog</a> oder
            nutze die verschiedenen Tools.
        </p>
    </div>
</div>
<div class="row justify-content-center py-4 border-top">
    <div class="col-lg-8 col-md-10 col-12">
        <h1 class="heading"><a href="/{{locale}}/services">Dienste</a></h1>
        <p class="lead text-center mb-2">
            Für die Nutzer:innen der Dienste und Interessierte gibt es einen öffentlichen Matrix-Raum als
            Austauschort für Fragen, Ideen und Probleme: <strong><a
                href="https://matrix.to/#/#sp-codes:matrix.sp-codes.de?via=matrix.sp-codes.de">#sp-codes:matrix.sp-codes.de</a></strong>
        </p>
        <p class="lead text-center mb-2">
            Folge sp-codes auf Mastodon: <strong><a rel="me"
                                                    href="https://social.sp-codes.de/@sp_codes">@sp_codes@social.sp-codes.de</a></strong>
        </p>
        <div class="row justify-content-center">
            {% include services-simple.html %}
        </div>
    </div>
</div>
<div class="row justify-content-center pt-4 border-top">
    <div class="col-lg-8 col-md-10 col-12">
        <h1 class="heading">Profile & Kontakt</h1>
        <p class="lead text-center mb-2">
            Du hast einen Fehler gefunden, Verbesserungsvorschläge oder eine andere Frage? Nimm gerne
            über eine der folgenden Plattformen Kontakt mit mir auf. Ich freue mich auf deine Nachricht!
        </p>
    </div>
</div>
{% include profiles.html %}
