$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$i-peertube: "\e918";
$i-network-wired: "\e903";
$i-money-bill: "\e904";
$i-chart-line: "\e905";
$i-info-circle: "\e906";
$i-code: "\e907";
$i-xmpp: "\e908";
$i-wifi: "\e909";
$i-youtube: "\e90a";
$i-twitter: "\e90b";
$i-threema: "\e90c";
$i-stackoverflow: "\e90d";
$i-search: "\e90e";
$i-opencollective: "\e90f";
$i-mastodon: "\e910";
$i-hand-holding-heart: "\e911";
$i-github: "\e912";
$i-gitea: "\e913";
$i-firefox: "\e914";
$i-copyright: "\e915";
$i-book: "\e916";
$i-matrix: "\e900";
$i-server: "\e901";
$i-credit-card: "\e902";
$i-external-link: "\e917";
$i-heart: "\f004";
$i-home: "\f015";
$i-tags: "\f02c";
$i-comments: "\f086";
$i-users: "\f0c0";
$i-bars: "\f0c9";
$i-envelope: "\f0e0";
$i-language: "\f1ab";
$i-user-secret: "\f21b";
$i-heartbeat: "\f21e";
$i-commenting: "\f27a";

