---
title: sp-codes
---
<!doctype html>
<html lang="{{ locale }}" prefix="og: http://ogp.me/ns#">
<head>
    <title>sp-codes - {{ title }}</title>
    <base href="/">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="fragment" content="!">
    <meta name="target" content="all">
    <meta name="audience" content="all">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">
    <meta name="rating" content="general">
    <meta name="url" content="https://sp-codes.de/">
    <meta name="subject" content="sp-codes">
    <meta name="description" content="Samuel Philipp - Software Engineer from Magdeburg">
    <meta name="author" content="Samuel Philipp">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="de">
    <meta property="og:url" content="https://sp-codes.de/">
    <meta property="og:title" content="sp-codes">
    <meta property="og:description" content="Samuel Philipp - Software Engineer from Magdeburg">
    <meta property="og:site_name" content="sp-codes">
    <meta property="og:image" content="https://sp-codes.de/img/sp-codes.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="sp-codes">
    <meta name="twitter:description" content="Samuel Philipp - Software Engineer from Magdeburg">
    <meta name="twitter:image" content="https://sp-codes.de/img/sp-codes.jpg">
    <link rel="shortcut icon" href="img/samuel.png">
    <link rel="stylesheet" href="/css/main.css">
    <script async defer data-domain="sp-codes.de" src="https://plausible.sp-codes.de/js/plausible.js"></script>
</head>
  <body>
    <div class="d-flex justify-content-start flex-wrap p-2 menu menu-top">
    {%- for entry in collections.all | eleventyNavigation %}
      {% if entry.url.includes(locale) %}
        <div {% if entry.url == page.url %} class="active"{% endif %}>
          <a href="{{ entry.url | url }}" class="mr-2">
            {% if entry.icon %}<span class="fas fa-{{ entry.icon }} mr-2"></span>{% endif %}{{ entry.title }}
          </a>
        </div>
      {% endif %}
    {%- endfor %}
    <div class="flex-grow-1"></div>
    {% for language in site.languages %}
      {% set translatedUrl = "/" + language.code + "/" %}
      {% for item in collections.all %}
        {% if item.data.key == key and item.data.locale == language.code and not item.data.hidden %}
          {% set translatedUrl = item.url %}
        {% endif %}
      {% endfor%}
      <div {% if language.code == locale %} class="active"{% endif %}>
        <a href="{{ translatedUrl | url }}" class="ml-3">
          <span class="flag-icon flag-icon-{{ language.icon }}" title="{{ language.label }}"></span>
        </a>
      </div>
    {% endfor %}
    </div>
    <div class="content">
      <div class="container">
        {{ content | safe }}
      </div>
    </div>
    <div class="d-flex justify-content-start flex-wrap p-2 menu menu-bottom">
        <div class="d-flex justify-content-start flex-wrap">
            <div class="mr-3">Made with <span class="fas fa-heart highlight"></span> in Germany</div>
            <div class="mr-3"><span class="far fa-copyright mr-2"></span>Samuel Philipp</div>
        </div>
        <div class="flex-sm-grow-1"></div>
        <div class="d-flex justify-content-sm-start flex-wrap">
            <div class="mr-3"><a href="/{{locale}}/imprint"><span class="fas fa-info-circle mr-2"></span>{{strings.imprint[locale]}}</a></div>
            <div class="mr-3"><a href="/{{locale}}/privacy"><span class="fas fa-user-secret mr-2"></span>{{strings.privacy[locale]}}</a></div>
            <div class="mr-3"><a target="_blank" href="https://git.sp-codes.de/samuel-p/sp-codes.de"><span class="fas fa-code mr-2"></span>Code</a></div>
            <div><a target="_blank" href="https://plausible.sp-codes.de/sp-codes.de"><span class="fas fa-chart-line mr-2"></span>Stats</a></div>
        </div>
    </div>
  </body>
</html>
