---
layout: base.njk
key: donate
title: Donate
eleventyNavigation:
  key: donate
  title: Donate
  icon: i-hand-holding-heart
  order: 4
---
<h1><i class="i-hand-holding-heart"></i> Donate</h1>

<p>All public services can be used for free. If you still want to contribute to the costs for server infrastructure or
    send me a small donation for my blog, you can support me in the following ways<sup>1</sup>:</p>

<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <div class="card mb-3">
            <h2><i class="i-comments m-2"></i>Recommend</h2>
            <div>You are welcome to recommend my services and my blog posts. I am very glad if I can make you happy with
                it.
            </div>
        </div>
        <div class="card mb-3">
            <h2><i class="i-credit-card i-fw m-2"></i>Bank transfer</h2>
            <div>If you want to transfer some money to me, just write me a short <a href="/en/contact">message</a>. I
                will then send you my bank details as soon as possible. I am especially happy about a standing order.
                <div class="mt-3 text-center">
                    <img alt="Bank transfer {{ strings.supporters[locale] }}"
                         src="https://shields.sp-codes.de/badge/{{ strings.supporters[locale] }}-{{ donations | banktransfers }}-active">
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <h2><i class="i-money-bill i-fw m-2"></i>Cash</h2>
            <div>If you want to send me some cash, feel free to send it to the address provided in the <a
                    href="/en/imprint">imprint</a>.
                <div class="mt-3 text-center">
                    <img alt="Cash {{ strings.supporters[locale] }}"
                         src="https://shields.sp-codes.de/badge/{{ strings.supporters[locale] }}-{{ donations | cash }}-inactive">
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <h2><i class="i-opencollective m-2"></i>Open Collective</h2>
            <div>You are also welcome to send me a small amount via <a href="https://opencollective.com/sp-codes"
                                                                       target="_blank">Open Collective</a>. If you like
                you can also support me with a regular donation.
                <div class="mt-3 text-center">
                    <a href="https://opencollective.com/sp-codes" target="_blank"><img
                            alt="Open Collective {{ strings.supporters[locale] }}"
                            src="https://shields.sp-codes.de/opencollective/all/sp-codes?label={{ strings.supporters[locale] }}&logo=open-collective"></a>
                </div>
            </div>
        </div>
        <div class="card mb-3">
            <h2><i class="i-network-wired i-fw m-2"></i>netcup</h2>
            <div>Some of my services are hosted at netcup. If you want to run your own server or website at <a
                    href="https://www.netcup.de/" target="_blank">netcup</a>, you can use the following link (on the
                picture). This way I get a small commission on your order. If you are a new customer, you will receive a
                5€ voucher for your order.
            </div>
            <div class="mt-3 text-center">
                <a href="https://www.netcup.de/bestellen/gutschein_einloesen.php?gutschein=36nc16071208640"
                   target="_blank">
                    <img src="/img/netcup-setC-234x60.png" width="234" height="60" alt="zu netcup"/>
                </a>
            </div>
        </div>
    </div>
</div>

<h2>Current Expenses</h2>
{% include expenses-current.html %}

<h2>Donations {{donations[0].year}}</h2>
{% include donations-current.html %}

<p><a href="/{{locale}}/all-donations/">&#10132; All Donations</a></p>

<div class="border-top mt-5 pt-2">
    <p><small><sup>1</sup> The payments made are donations in terms of § 516 BGB, not tax-deductible donations in terms
        of tax law.</small></p>
</div>
